.select-choich {
    border: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.table-filter>tbody>tr>td { border: none; }
.table-filter>tbody>tr>td:nth-of-type(1) {
    width: 8em;
    font-family: 'Roboto';
}
.table-filter>tbody>tr>.fl-city {
    width: 13em;
    font-family: 'Roboto';
}
.table-filter>tbody>tr>td:nth-of-type(3) {
    width: 10em;
    font-family: 'Roboto';
}
.table-filter>tbody>tr>td:nth-of-type(4) {
    width: 20em;
    font-family: 'Roboto';
}
.table-filter>tbody>tr>td:nth-of-type(5) {
    text-align: right;
}
.btn-search {
    background-color: #ffffff;
    border-right: 1px solid #d2d6de;
    border-top: 1px solid #d2d6de;
    border-bottom: 1px solid #d2d6de;
    border-left: none;
}
.btn-search:hover {
    background-color: #ffffff;
    border-right: 1px solid #d2d6de;
    border-top: 1px solid #d2d6de;
    border-bottom: 1px solid #d2d6de;
}
.btn-search svg {
    color: #6f6d6d;
}
.btn-search:active,
.btn-search:focus{
    background-color: #ffffff;
    border-color: #d2d6de;
}
.input-group-search>
.input-group-btn > .btn {
    outline: none;
}
.input-group-search .form-control {
    border-right-color: #ffffff;
}
.table-filter>tbody>tr>.label-filter {
    padding-top: 7px;
    padding-bottom: 0px;
    padding-left: 18px;
    vertical-align: middle;
}
.label-filter .form-group {
    width: 100%;
}
.label-filter .form-group label {
    vertical-align: text-top;
    padding-right: 15px;
}
.label-filter .input-group-search {
    width: 80%;
}
.input-group-sm {
    font-family: 'roboto-Regular';
}
.text-note-member {
    color: #989898;
    font-size: 11px;
}
.btn-excel {
    font-size: 15px;
    color: #009bdd;
    padding: 2px 0;
}
.btn-excel:active, .btn-excel:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #009bdd;
}
.btn-excel:hover {
    color: #009bdd;
}
.table-member-filter>tbody>tr>td, th {
    padding: 10px 8px;
}
.table-member-filter>tbody>tr>td {
   color: #545e67;
}
.icon-edit {
    width: 15px;
}
.mb-fl-header {
    padding: 20px 10px 0 10px;
}
.mb-fl-body {
    padding: 0 20px 20px 20px;
}

/* popup existing user */
.close {
    opacity: 10;
    width: 3%;
}
.close:hover, .close:focus {
    opacity: 10;
}
.profile {
    margin-bottom: 15px;
}
.profile img {
    max-width: 13%;
    border-radius: 50%;
}
.table-profile-info {
    width: 65%;
    margin: 0 auto;
}
.table-profile-info>tbody>tr>th {
    border: none;
}
.table-profile-info>tbody>tr>td{
    padding-left: 45px;
    width: 50%;
    border: none;
}
.modal-header {
    border-bottom: none;
    padding: 25px;
}
.modal-content {
    border-radius: 5px;
    width: 90%;
}
/* member profile */
.btn-view-pro, .btn-view-pro:hover, .btn-view-pro:active, .btn-view-pro:focus {
    font-weight: normal;
    color: #009bdd;
}
.biad, .biad:hover, .biad:active, .biad:focus {
    font-weight: normal;
    color: #009bdd;
    text-decoration: underline;
}
.input-addon {
    border: none;
}
.input-addon {
    padding: 6px 0px 6px 12px;
}
.icon-trash {
    width: 17px;
    cursor: pointer;
}
.list-style {
    list-style: none;
    padding: 0;
}
.list-style li {
    margin-bottom: 10px;
}
.font-weight {
    font-family: 'Roboto';
}
.table-profile>tbody>tr>td {
    border: 0;
}
.table-profile>tbody>tr>th {
    border: 0;
}
.btn-email ,
.btn-number ,
.btn-location ,
.btn-mail ,
.btn-payment {
    width: 50%;
}

/* points history */
.box-left {
    border-right: 1px solid #e4e4e4;
}
.table-po-pro>tbody>tr>td {
    border: none;
}
.table-po-pro>tbody>tr>td>span:first-child {
    padding: 0;
}
.text-num {
    font-size: 22px;
}
.text-point {
    font-size: 12px;
    color: #7a7a7a;
}
.text-num-status-green {
    color: #009c9a;
}
.text-num-status-red {
    color: #e52d47;
}
.table-po-filter>tbody>tr>td{ border: none; }
.table-po-filter>tbody>tr>td:nth-of-type(1),
.table-po-filter>tbody>tr>td:nth-of-type(5) {
    padding: 12px 0;
    text-align: center;
}
/* small popup */
.modal-content-sm {
    width: 50%;
    margin: 0 auto
}
.modal-body-sm {
    padding: 40px 15px;
    text-align: center;
}

/* modal binding */
.modal-bd-body {
    padding: 15px 50px;
}
.form-horizontal .main-bd-id {
    text-align: left;
}
.form-birth-day {
    display: -webkit-inline-box;
}
.sign-slash {
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: -webkit-baseline-middle;
}

.box-btn-create {
    margin: 0 auto;
    text-align: right;
    width: 50%;
}
.box-btn-create .btn-blue {
    padding: 9px 90px;
}

.table-profile .phone-number .col-md-9{
    padding: 0;
}

.table-profile .phone-number .intl-tel-input {
    width: 94%;
}

.table-profile .phone-number .add-input{
    width: 20px;
    padding: 0 2px 0;
    float: right;
    margin-top: 5px;
    background: transparent;
}
