/* tab marketing */
.nav-marketing-tab {
    background-color: #ffffff;
    border-radius: 5px;
}
.nav-marketing-tab>li>a {
    padding: 12px 40px;
    font-family: 'Roboto';
    border-top: none;
    color: #b4bac2;
}
.nav-pills>li.active>a {
    font-weight: normal;
}
.nav-marketing-tab>li.active>a,
.nav-marketing-tab>li.active>a:hover,
.nav-marketing-tab>li.active>a:focus {
    color: #e52d47;
    background-color: transparent;
    border-top-color: transparent;
    border-bottom: 3px solid #e52d47;
}
.nav-marketing-tab>li>a:hover,
.nav-marketing-tab>li>a:active,
.nav-marketing-tab>li>a:focus {
    color: #e52d47;
    border-bottom: none;
    background-color: #ffffff;
}
.nav-marketing-tab > li + li {
    margin-left: 0;
}
.btn-new-survey {
    margin-top: 3px;
}
/* Your Surveys */
.table-marketing>tbody>tr>th {
    padding: 10px 8px;
    border-top: none;
}
.table-marketing>tbody>tr>td {
    padding: 10px 8px;
    vertical-align: middle;
    color: #545e67;
}
.icon-sign-red {
    color: #e52d47;
    font-size: 8px;
    vertical-align: middle;
}
.icon-edit {
    width: 15px;
}
.icon-sign-waiting {
    color: #f7be45;
    font-size: 8px;
    vertical-align: middle;
}
.table-filer>tbody>tr>td {
    vertical-align: sub;
    text-align: right;
    border: none;
}
.table-filer>tbody>tr>td:first-child {
    text-align: left;
}
.status-reviewed span {
    font-size: 18px;
}
.icon-sign-waiting-publish {
    color: #0ecea8;
    font-size: 9px;
    vertical-align: middle;
}
.space-td-action {
    width: 8%;
}
.icon-view {
    width: 15px;
    vertical-align: -webkit-baseline-middle;
}

/* pop up phone */
.main-list-style {
    padding-left: 12px;
}
.sub-list-style {
    list-style: none;
    padding: 0;
}
.box-modal-text {
    position: absolute;
    top: 39%;
    left: 50%;
    width: 42%;
    transform: translate(-50%, -50%);
    text-align: left;
}
.logo-text {
    position: absolute;
    left: 65px;
}
.logo-text p {
    margin: 0;
    color: #7a7a7a;
}
.logo-text p:first-child {
    font-size: 14px;
    color: #06c;
}
.box-logo {
    margin-left: 0;
}
.modal-content-phone {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
}
.icon-close {
    cursor: pointer;
}

/* page create promotion news */
.table-news-form>tbody>tr>td {
    border: none;
}
.table-news-form>tbody>tr>td:nth-of-type(1) {
    width: 20%;
    padding-left: 0;
}
.width-input-box {
    width: 65%;
}
.box-marketing-bd-form {
    padding-left: 40px;
    padding-right: 40px;
}
.table-feedback>tbody>tr>td {
    border: none;
}
.table-feedback>tbody>tr>.feedback-label {
    width: 20%;
    vertical-align: middle;
    padding-left: 0;
}
.td-width {
    width: 20%;
    padding-left: 0 !important;
}
.label-middle {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 0 !important;
}
.table-feedback>tbody>tr>td>.radio {
    margin-top: 0;
    margin-bottom: 0;
}
.table-feedback>tbody>tr>.feedback-yes-radio {
    padding-top: 0;
}
.table-feedback>tbody>tr>.feedback-no-radio {
    padding-bottom: 0;
}
.num-order-list {
    color: #e52d47;
    border: 1px solid #e52d47;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 50px;
    padding-top: 1px;
    margin-right: 10px;
    padding-bottom: 1px;
}
.num-order-with-label {
    position: relative;
    right: 36px;
}
.select-btn-add-qt {
    width: 60%;
    text-align: initial;
    margin-left: 5%;
    text-align: center;
    margin-top: 20px;
}

.label-title span {
    color: #e52d47;
    vertical-align: sub;
}
.box-header-promotion {
    padding: 10px 20px;
}
.table-news-promote>tbody>tr>td {
    font-family: 'Roboto';
    font-size: 12px;
    border: none;
}
.table-news-promote>tbody>tr>td>span:first-child {
    color: #e52d47;
    vertical-align: sub;
}
.table-news-promote>tbody>tr>td:nth-of-type(1) {
    width: 20%;
    padding-left: 0;
}
.table-news-promote>tbody>tr>td:nth-of-type(2) {
    width: 9%;
}
.table-news-promote>tbody>tr>td:nth-of-type(3) {
    width: 16%;
}
.promote-checkbox {
    margin-top: 0;
    margin-bottom: 0;
}
.promote-checkbox label {
    font-family: 'Roboto';
    font-size: 12px;
}
.promote-checkbox, input[type="checkbox"] {
    margin: 2px 0 0;
}
.promote-text-note {
    color: #7a7a7a;
    font-weight: normal;
}

.icon-sign-required {
    color: #e52d47;
    vertical-align: sub;
}
.table-target-audience>tbody>tr>td {
    font-size: 12px;
    border: none;
    font-family: 'Roboto';
}
.table-target-audience>tbody>tr>td:nth-of-type(1) {
    width: 20%;
    padding-left: 0;
}
.table-target-audience>tbody>tr>.td-location {
    padding: 15px 8px;
}
.table-target-audience>tbody>tr>.td-city-selection {
    font-weight: normal;
    font-family: 'roboto-Regular';
}
.table-target-audience>tbody>tr>.td-padding {
    padding-bottom: 25px;
}
.box-btn-lg {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    right: 5%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.box-btn-lg .btn-blue {
    width: 25%;
    padding-top: 9px;
    padding-bottom: 9px;}
.box-btn-lg .btn-submit {
    padding-top: 9px;
    padding-bottom: 9px;
    width: 53%;
}
.box-btn-lg a:nth-of-type(1) {
    margin-right: 10px;
}
.box-btn-lg a:nth-of-type(2) {
    margin-left: 10px;
}
/* campaigns page */
.add-list-city {
    counter-reset: city-counter;
    list-style: none;
}
.add-list-city li {
    margin-bottom: 10px;
}
.add-list-city li::before {
    content: counter(city-counter) ". ";
    counter-increment: city-counter;
    line-height: var(--size);
    text-align: center;
    position: absolute;
    margin-top: 10px;
    left: 30px;
}
.icon-trash {
    width: 17px;
    cursor: pointer;
}
.btn-submit {
    padding: 8px 50px;
}
.list-input-group .input-group-addon {
    border: none;
}
.location-city select {
    width: 64%;
}

.location-state .state {
    display: inline-block;
    width: 30%;
    margin-right: 30px;
}
.cash,
.point {
    display: inline-block;
    width: 58px;
    text-align: center;
}
.radio {
    margin-bottom: 20px;
}
.radio-status-phone {
    margin-bottom: 10px;
}
.table-rewards>tbody>tr>td {
    border: none;
}
.table-rewards>tbody>tr>td:first-child {
    padding-left: 0;
}
.table-rewards .checkbox {
    margin-top: 6px;
}
.label-text-rigth  {
    font-weight: normal;
    vertical-align: sub;
}
.reward-text-box {
    width: 30%;
}
.label-acv {
    vertical-align: middle;
}

/* modal publish survey and promotion new confirm */
.modal-survey-confirm .modal-content,
.modal-news-confirm .modal-content {
    border-radius: 5px;
    padding: 15px;
}
.modal-header {
    border-bottom: none;
}
.modal-survey-confirm .confrim-txt,
.modal-news-confirm .confrim-txt {
    font-size: 17px;
    padding-bottom: 49px;
    padding-top: 20px;
}

.modal-survey-confirm .section-btn-comfirm .btn-blue,
.modal-news-confirm .section-btn-comfirm .btn-blue {
    font-size: 16px;
}

/* review promotion */
.table-review-promotion>tbody>tr>th {
    padding-left: 0;
}
.table-review-promotion>tbody>tr>th:nth-last-of-type(1) {
    width: 20%;
}
.table-review-promotion>tbody>tr>td,
.table-review-promotion>tbody>tr>th{
    border: none;
}

/* video */
.play-control {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#video-container {
	width: 100%;
	position: relative;
}
video {
    width: 100%;
}
.play {
    font-size: 35px;
}
.play, .mute {
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
}
.mute {
    margin-right: 15px;
}
#play-pause {
    opacity: 0;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	-ms-transition: opacity .3s;
    transition: opacity .3s;
}
#video-controls {
    display: inline-flex;
	position: absolute;
	bottom: 5px;
	left: 0;
	right: 0;
	padding: 5px;
	opacity: 0;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	-ms-transition: opacity .3s;
    transition: opacity .3s;
    background: rgba(0,0,0,0.5);
}
#video-container:hover
#video-controls, #video-container:hover #play-pause {
	opacity: .9;
}
#seek-bar {
    margin-right: 15px;
    cursor: pointer;
    outline: none;
}
#volume-bar {
    width: 60px;
    cursor: pointer;
}
.main-box-video {
    width: 50%;
}
.text-under-label {
    color: #7a7a7a;
    font-weight: normal;
}

.table-review-promotion>tbody>tr>.th-target {
    padding-bottom: 15px;
}

/* popup box video  */
.box-modal-video {
    position: absolute;
    top: 40%;
    left: 29%;
    width: 42%;
}
.box-modal-list-img ul {
    list-style: none;
    text-align: left;
    padding: 0;
}
.box-modal-list-img ul li {
    padding-bottom: 5px;
}

.box-marketing-hd {
    padding: 20px 40px;
}
.box-marketing-bd {
    padding: 0 40px 20px 40px;
}
.btn-marketing-bottom-create {
    margin-top: 26px;
    margin-bottom: 16px;
    text-align: center;
}
.text-note {
    color: #adadad !important;
    font-style: italic;
    font-size: 11px;
    font-family: 'roboto-Regular';
}
.text-note-bd {
    color: #adadad !important;
    font-style: italic;
    font-size: 11px;
    font-family: 'roboto-Regular';
    margin-left: 5px;
}
.btn-new-city {
    position: relative;
    right: 1%;
}
.table-filer>tbody>tr>.td-label-title {
    vertical-align: middle;
}
.td-label-title label {
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media screen and (max-width: 1150px) {
    .nav-marketing-tab>li>a {
        padding: 12px 20px;
    }
}
