.user-icon {
    width: 60px;
    float: left;
    margin-right: 10px;
}

.user-icon .user-image {
    width: 60px;
    border-radius: 50px;
}

.user-info {
    margin-top: 10px;
}

.user-info .cmt-date {
    color: #c3c3c3;
}

.user-name {
    font-weight: 550;
}

.comment-content {
    padding-top: 15px;
    padding-bottom: 10px;
    line-height: 1.75;
}

.row-wrp {
    padding-top: 20px;
    padding-bottom: 20px;
}

.view-detial {
    margin-top: 10px;
    font-weight: 550;
}

.comment-list {
    margin-top: 20px;
}

.comment-list hr {
    margin-top: 10px;
    margin-bottom: 0;
}

.comment-list hr:last-child {
    display: none;
}

.icon-reply-hide {
    padding-bottom: 5px
}

.icon-reply, .icon-hide-cmt {
    margin: 5px;
}

.btn-blue-custom {
    color: #009bdd;
    font-size: 14px;
    background: #ffffff;
    border: 1px solid #009bdd;
    float: right;
    margin-top: 10px;
}

.reply-comment { display: none; }

.reply-comment .icon-arrow-up{
    float: right;
    margin-right: 42px;
    margin-bottom: -1px;
}

.modal-hide-comment .modal-content{
    border-radius: 5px;
    padding: 15px;
}

.modal-hide-comment .confrim-txt {
    font-size: 16px;
    margin-top: 12%;
    margin-bottom: 12%;
    padding-left: 9.5%;
    padding-right: 9.5%;
}

.modal-hide-comment .section-btn-comfirm .btn-blue {
    font-size: 14px;
}
