.skin-black
.main-header
.navbar
.navbar-custom-menu
.navbar-nav>li>a {
    border-left: none;
    position: relative;
}

.skin-black
.main-header
.navbar>.sidebar-toggle {
    border-right: none;
}

.skin-black
.main-header
.logo {
    background: #ffffff;
    color: #e52d47;
    border-right: none;
    font-weight: bolder;
    height: 52px;
    font-size: 20px;
    line-height: 52px;
}

.skin-black
.main-header
.logo:hover {
    background: #ffffff;
}

.sidebar {
    border-top: none;
}

.treeview-menu {
    padding-left: 0;
}

.skin-black .sidebar-menu>li>.treeview-menu {
    margin: 0;
}

.treeview-menu>li>a {
    padding: 12px 5px 12px 50px;
}

.skin-black .sidebar-menu>li.active>a {
    border-right: 3px solid #e52d47;
    font-family: 'Roboto';
}

.skin-black .sidebar-menu .treeview-menu>li.active,
.skin-black .sidebar-menu .treeview-menu>li:hover {
    background: #3298c578;
}

.skin-black .sidebar-menu .treeview-menu>li.active
{
    border-left: 3px solid #27a9e3;
}
.slimScrollBar {
    background: transparent !important;
}
.navbar-page-title {
    float: left;
    padding: 16px 0 16px 25px;
}
.navbar-page-title ul {
    padding-left: 0;
    list-style: none;
}
.navbar-page-title
ul li:first-child  {
    float: left;
    margin-right: 30px;
}
.navbar-page-title
ul li:last-child {
    float: right;
    margin-left: 30px;
}

.main-header .sidebar-toggle:before {
    content: "";
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #00c0ef;
    border-color: #00c0ef;
    border-radius: 3px;
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    background-color: #eee;
}

.pagination>li {
    display: inline-block;
    padding: 0 5px;
}

.pagination>li>a, .pagination>li>span {
    background-color: #eee;
    border: none;
    border-radius: 3px;
    font-weight: 600;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #666;
    background: #ccc;
}

.table>tbody>tr>td,
.table>tfoot>tr>td:last-child {
    border-bottom: 1px solid #f4f4f4;
}

.main-form-page {
    display: inline-flex;
}

.main-form-page label{
    padding-top: 5px;
    padding-left: 10px;
    font-weight: 500;
}

.main-form-page .input-number {
    padding: 0 15px;
}

.main-form-page
.input-number input {
    border: 1px solid #ddd;
    text-align: center;
    font-size: 14px;
    width: 50px;
}

.main-form-page
.input-number button {
    padding: 5px 20px;
}

.content-wrapper .content {
    padding: 9px 25px;
    font-size: 13px;
}
.content-header {
    padding: 0 25px;
}
.user-menu {
    padding: 0;
}
.navbar-custom-menu>.navbar-nav>.user-menu a {
    padding-top: 5px;
    padding-bottom: 5px;
}
.skin-black .main-header .navbar>.sidebar-toggle {
    width: 5%;
    text-align: center;
}

.navbar-nav>.user-menu .user-image {
    width: 35px;
    height: 35px;
    margin-top: 1px;
}
.navbar-position-title {
    margin: 0;
    list-style: none;
    padding: 0;
}
.navbar-role {
    color: #8c8c8c;
}
.navbar-managing {
    font-family: 'Roboto';
}
.strong-text {
    font-family: 'Roboto';
}
.icon-logout {
    font-size: 20px;
    color: #b4bac2;
}
.icon-notification {
    font-size: 16px;
    color: #b4bac2;
}
.nav .logout-menu a {
    padding-left: 0;
    padding-right: 0;
    top: 0;
}
.nav .notifications-menu a {
    top: 0;
}
.nav .postion-address a {
    top: 0;
}
.nav .messages-menu a {
    top: 10px;
}
.main-sidebar {
    top: 35px;
    min-height: 0;
}
.form-control {
    border-radius: 3px;
    border-color: #e8e8e8;
}
.form-control:focus {
    border-color: #d2d6de;
}
.box {
    border-radius: 5px;
    border-top: none;
}
.btn-box-tool {
    border: 1px solid;
    padding: 0px 5px;
}
.btn.focus, .btn:focus, .btn:hover {
    color: #97a0b3;
}
.main-header .navbar .nav>li>a>.label {
    border-radius: 10px;
    padding: 3px 3px;
}
.dashboard-icon {
    padding-right: 10px;
}
.dashboard-icon img {
    width: 9%;
    vertical-align: sub;
}
.role-icon {
    padding-right: 10px;
}
.role-icon img {
    width: 9%;
    vertical-align: sub;
}
.menu-icon {
    padding-right: 10px;
}
.menu-icon img {
    vertical-align: bottom;
    width: 9%;
}
.icon-arrow-down {
    width: 85%;
}
.sidebar-menu>li>a {
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 15px;
    padding-right: 0;
}
.title-page {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 5px;
    color: #333;
    font-family: 'Roboto';
}
.box-body {
    padding: 20px;
}
.input-sm {
    font-size: 13px;
}
.btn-yellow {
    background: linear-gradient(90deg, rgba(252,118,0,1) 50%, rgba(241,107,1,1) 100%);
    color: #ffff;
    border: none;
}
.btn-blue {
    background: linear-gradient(90deg, rgba(0,170,227,1) 0%, rgba(0,146,218,1) 80%);
    color: #ffff;
    border: none;
}
.btn-green-confirm {
    color: #ffff;
    border: none;
    background: linear-gradient(90deg, rgba(0,183,178,1) 50%, rgba(0,164,160,1) 100%);
}
.btn-gray-confirm {
    color: #333;
    border: none;
    background-color: #edf1f8;
}
.btn-gray-confirm:hover,
.btn-gray-confirm:active,
.btn-gray-confirm.hover {
    background-color: #edf1f8;
    color: #333;
}
.btn-blue:hover,
.btn-blue:active,
.btn-blue.hover {
    background: linear-gradient(90deg, rgba(0,170,227,1) 0%, rgba(0,146,218,1) 80%);
    color: #ffff;
}
.btn-yellow:hover,
.btn-yellow:active,
.btn-yellow.hover {
    background: linear-gradient(90deg, rgba(252,118,0,1) 50%, rgba(241,107,1,1) 100%);
    color: #ffff;
}
.btn-green-confirm:hover,
.btn-green-confirm:active,
.btn-green-confirm.hover {
    background: linear-gradient(90deg, rgba(0,183,178,1) 50%, rgba(0,164,160,1) 100%);
    color: #ffff;
}
.btn-green-confirm:active:focus {
    background: linear-gradient(90deg, rgba(0,183,178,1) 50%, rgba(0,164,160,1) 100%);
    color: #ffff;
    outline: none;
}
.btn-green-confirm:focus,
.btn-green-confirm.focus {
    background: linear-gradient(90deg, rgba(0,183,178,1) 50%, rgba(0,164,160,1) 100%);
    color: #ffff;
}
.btn-gray-confirm:active:focus {
    outline: none;
    background-color: #edf1f8;
    color: #333;
}
.btn-gray-confirm:focus,
.btn-gray-confirm.focus {
    background-color: #edf1f8;
    color: #333;
}
.btn-blue:active:focus {
    background: linear-gradient(90deg, rgba(0,170,227,1) 0%, rgba(0,146,218,1) 80%);;
    color: #ffff;
    outline: none;
}
.btn-blue:focus,
.btn-blue.focus {
    background: linear-gradient(90deg, rgba(0,170,227,1) 0%, rgba(0,146,218,1) 80%);;
    color: #ffff;
}
.btn-yellow:active:focus {
    background: linear-gradient(90deg, rgba(252,118,0,1) 50%, rgba(241,107,1,1) 100%);
    color: #ffff;
    outline: none;
}
.btn-yellow:focus,
.btn-yellow.focus {
    background: linear-gradient(90deg, rgba(252,118,0,1) 50%, rgba(241,107,1,1) 100%);
    color: #ffff;
}
.btn {
    border-radius: 4px;
    font-size: 13px;
}
.btn-text-cancel,
.btn-text-cancel:hover,
.btn-text-cancel:active,
.btn-text-cancel:focus {
    color: #e52d47;
}
.text-status-completed {
    color: #00b9b3;
}
.text-status-donated {
    color: #6a8bea;
}
.text-status-donating {
    color: #adb1b6;
}
.text-color-gray {
    color: #7a7a7a;
}
.btn-border-ouline {
    background-color: #fff;
    color: #009bdd;
    border-color: #009bdd;
    outline: none;
}
.btn-border-ouline:hover,
.btn-border-ouline:active,
.btn-border-ouline.hover {
    background-color: #009bdd;
    color: #fff;
    box-shadow: none;
}
.user-menu small {
    color: #8c8c8c;
}
.btn-sm {
    padding: 5px 20px;
}
.btn-md {
    padding: 9px 20px;
}
.modal {
    background: rgba(0, 0, 0, 0);
}
.modal-dialog {
    height: 100%;
    display: flex;
    align-items: center;
}
.modal-content {
    border-radius: 5px;
    margin: 0 auto;
    width: 100%;
}
.hr {
    margin-top: 10px;
    margin-bottom: 10px;
}
.input-group .input-group-addon {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #c3c3c3;
    border-bottom-color: #e8e8e8;
    border-right-color: #e8e8e8;
    border-top-color: #e8e8e8;
}
.close {
    outline: none;
    width: 3%;
    opacity: 10;
}
.close:hover, .close:focus {
    opacity: 10;
}
input::-webkit-input-placeholder
,textarea::-webkit-input-placeholder {
    color: #989898 !important;
    font-size: 10px;
    font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #989898 !important;
    font-size: 10px;
    font-style: italic;

}
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #989898 !important;
    font-size: 10px;
    font-style: italic;
}
input:-ms-input-placeholder ,
textarea:-ms-input-placeholder {
    color: #989898 !important;
    font-size: 10px;
    font-style: italic;
}

.text-note {
    color: #adadad !important;
    font-style: italic;
    font-size: 11px;
    font-family: 'roboto-Regular';
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'roboto-Regular';
}

.table>thead>tr>th, .table>tbody>tr>th, label {
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
}
.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
    font-size: 15px;
    color: #333;
    font-family: 'Roboto';
}

select.input-sm {
    height: 28px;
    padding: 0px 10px;
    color: #989898;
}
.input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn {
    height: 28px;
    padding: 4px 10px;
    border-bottom-color: #e8e8e8;
    border-right-color: #e8e8e8;
    border-top-color: #e8e8e8;
}
.input-sm {
    height: 28px;
}

.fixed .content-wrapper, .fixed .right-side {
    padding-top: 70px;
}
.skin-black .main-header .navbar {
    background-color: transparent;
}
.navbar-scrolled {
    background-color: #ecf0f5d1 !important;
}
