.box-general-report {
    line-height: 35px;
    font-size: 15px;
    padding-left: 8px;
}

.box-target-statistics {
    font-weight: bold;
}

.tot-stat-val div span {
    float: right;
    margin-right: 50%;
}

/*  arrow up */
span.arr-up {
    color: #09CE4F;
    font-weight: bold;
}

 /* arrow down */
span.arr-down {
    color: #FFC577;
    font-weight: bold;
}

span.chart-wh-rep-caption {
    color: #ddd;
    font-size: 85%;
}

.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 9px;
	margin-left: -10px;
}

.arrow_box:before {
	border-color: rgba(221, 221, 221, 0);
	border-top-color: #dddddd;
	border-width: 12px;
	margin-left: -11px;
}

.box-target-chart {
    padding-top: 25px;
}

.chart-note {
    position: absolute;
    right: 10%;
    top: 35%;
}

.chart-note.text-left > p > i {
    font-size: 25px;
}
.chart-note > p > i:first-child {
    color: red;
}

#social-chart {
    height: 450px;
    position: relative;
    text-align: center;
}

#social-chart .social-chart-note {
    width: 15%;
    position: absolute;
    right: 10%;
    top: 20%;
    font-size: 18px;
    line-height: 40px;
    text-align: left;
}

.social-chart-note div {
    font-size: 20px;
}

span.fb-note {
    color: #FF727F;
    margin-right: 10px;
}
span.tw-note {
    color: #00A3E8;
    margin-right: 10px;
}
span.in-note {
    color: #803EEC;
    margin-right: 10px;
}
.center-title {
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -6.55em;
    text-align: center;
    width: 170px;
}

.center-title h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* ==== d3 graph target ===== */
.arcPathBg {
    opacity: 0.1;
}

.donut-text {
    fill: #444;
    font-size: 18px;
}

.valueText {
    fill: #444;
    font-size: 18px;
}

.seperatorText {
    fill: #aaa;
    font-size: 12px;
}

.seperator {
    font-size: 18px;
    fill: #aaa;
}

.maxText {
    fill: #555;
    font-size: 12px;
}

/* ========d3 line chart======== */
.line {
    fill: none;
    stroke: #00A0E7;
    stroke-width: 3;
}

.line-avg {
    fill: none;
    stroke: #FFB44E;
    stroke-width: 2;
}

.area {
    fill: url(#temperature-gradient);
}

.tick line {
    opacity: 0.2;
    stroke-dasharray: 3, 2;
    stroke: #00A0E7;
}

.axis-tick .tick line {
    opacity: 1;
    stroke: rgba(54, 162, 235, 0.3);
    stroke-dasharray: 0, 0;
    stroke-width: 2;
}

.axis-tick path {
    stroke: rgba(54, 162, 235, 0.2);
    stroke-width: 2;
}

.axis-text text {
    font-size: 15px;
    color: #ccc;
}

.dot {
	fill: #FFFFFF;
	stroke: #00A0E7;
	stroke-width: 2;
}

.dot:hover {
	r: 10;
    stroke-width: 3;
}

/* Tooltip text */
.tooltiptext {
    width: 90px;
    height: 40px;
    background-color: white;
    color: #000;
    text-align: center;
    padding: 3px 3px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 27px 0px rgba(54,162,235,0.46);
    -moz-box-shadow: 0px 0px 27px 0px rgba(54,162,235,0.46);
    box-shadow: 0px 0px 27px 0px rgba(54,162,235,0.46);

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 30%;
}

.tooltiptext {
    bottom: 100%;
    left: 50%;
}

.tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -8px;
    border-width: 8px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.axis-text path {
    display: none;
    stroke-width: 0;
}

.y.axis{
    fill: none;
}

.yaxis {
    font-size: 15px;
    color: #555;
    stroke-width: 0;
}

.grid path {
    stroke: none;
}

.d3-line-chart {
    position: relative;
    width: 100%;
}
