.box-content {
    padding: 30px;
}
.box-donate,
.box-point,
.box-feedback-setting {
    min-height: 400px;
}
.box-donate .title-page,
.box-group-setting .title-page {
    font-size: 1.2em;
}
.donate-1 {
    margin-top: 15px;
}
.donate-1 label,
.donate-1 span {
    float: left;
    margin-top: 5px;
    font-weight: normal;
}
.table-group-content>tbody>tr>td {
    color: #545e67;
}
.icon-edit {
    width: 15px;
}
.donate-1 .equal-sign {
    margin-left: 15px;
    margin-right: 15px;
}
.donate-1 input {
    float: left;
    width: 20%;
    margin-right: 15px;
}
.content-row {
    margin-bottom: 35px;
}
.content-btn {
    padding: 20px;
}
.content-btn .btn-submit {
    font-size: 14px;
    width: 230px;
    padding: 10px;
}

.box-term {
    padding-top: 20px;
}

.box-content .dropdown {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
}
.box-content .dropdown-toggle {
    font-size: 16px;
    font-weight: 550;
}
.box-content .dropdown-toggle .caret {
    margin-left: 5px;
}

#cke_ck_editor_from_text {
    border: none;
}

#cke_1_top {
    border-bottom: none;
    padding-left: 0px;
    margin-left: -10px;
}

#cke_1_contents {
    border: 1px solid #cccccc;
    border-radius: 5px;
}
#cke_1_bottom {
    display: none;
}

.vselected {
    padding: 6px 10px;
    border: 1px solid #009bdd;
    display: inline-block;
    border-radius: 4px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.vselected .fa-times {
    margin-left: 15px;
    color: #009bdd;
    cursor: pointer;
}

.box-group-setting .btn-create-group {
    width: 100px;
}
.box-group-setting .title-page small {
    font-size: 0.8em;
}
.box-group-setting .box-body {
    padding-top: 0px;
}
.box-content .row-lbl {
    margin-top: 8px;
}

.btn-blue-custom {
    background: #FFFFFF;
    color: #009bdd;
    border: 1px solid #009bdd;
    width: 210px;
    font-size: 14px;
}

.modal-age-group .title,
.modal-activeness-group .title {
    font-size: 0.8em;
}

.btn-blue-custom:hover, .btn-blue-custom:focus {
    color: #0379ab;
    border: 1px solid #0379ab;
}

.content-btn-add {
    margin-top: 20px;
    margin-bottom: 30px;
}

.h-action,
.col-action {
    text-align: center;
    width: 10%;
}

.modal-age-group .modal-content,
.modal-activeness-group .modal-content {
    border-radius: 5px;
    width: 85%;
}

.container-body {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-btn-submit button {
    margin-bottom: 15px;
    width: 230px;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.range-split {
    width: 5%;
    float: left;
    border-bottom: 1px solid #777c;
    margin-left: 5.5%;
    margin-right: 5.5%;
}
.range-input {
    width: 42%;
    float: left;
}

.point-1 {
    margin-top: 15px;
}
.point-1 label,
.point-1 span {
    float: left;
    margin-top: 8px;
}
.point-1 label {
    margin-right: 3%;
}
.point-1 input {
    float: left;
    width: 20%;
    margin-right: 15px;
}

.modal .row-lbl {
    margin-top: 5px;
    margin-left: 15px;
}
