.box {
    padding: 25px 0 15px 0;
}

.row-line {
    padding-bottom: 15px;
}
.health-info input, .health-info textarea,
.donation-info textarea,
.confirm-info input, .confirm-info textarea {
    border-radius: 4px;
}

.health-info input::placeholder {
    text-align: right;
    padding-right: 10px;
}

.blood-pressure .col-sm-2 {
    text-align: center;
}

.blood-pressure label {
    background: #eff3f9;
    width: 70px;
    padding: 25px 0;
    border-radius: 50px;
    font-size: 15px;
}

.blood-pressure span {
    font-size: 12px;
    color: #989898;
    font-family: 'roboto-Regular';
}

.box-header .box-title {
    font-size: 18px;
}

.donation-info .col-form-label {
    font-weight: normal;
}

.section-btn {
    margin-top: 30px;
    margin-bottom: 30px;
}

.submit-donation {
    font-size: 16px;
    width: 300px;
}

.submit-donation:hover, .submit-donation:focus {
    color: #ffffff;
}

.box-health-header,
.box-donation-header {
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 20px;
}

.bp-circle {
    width: 5em;
    padding: 22px 0;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #0aa3b5;
    text-align: center;
}

.row-line span {
    color: #cccccc;
    font-size: 12px;
    font-weight: normal;
}

.confirm-info .col-form-label {
    font-weight: normal;
}

.confirm-info .box-header {
    margin-bottom: 15px;
}

.checkbox p {
    margin-bottom: 5px;
    color: #cccccc;
    margin-left: 19px;
}

.section-confirm-donation p {
    font-size: 16px;
    padding: 50px 58px;
    text-align: left;
    margin-bottom: 0;
}

#btn-donate-confirm {
    margin-bottom: 6px;
    width: 170px;
    font-size: 14px;
}

.modal-confirm-donation .modal-content
{
    border-radius: 5px;
}

#btn-donate-confirm:hover,
#btn-donate-confirm:focus {
    color: #ffffff;
}

#donate-cancel-modal {
    color: #00acd6;
    cursor: pointer;
    font-size: 14px;
}
.form-label {
    padding: 5px 15px;
}
