#calendar {
    width: 100%;
}

.calendar-block {
    padding: 30px;
}

#calendar .fc-prev-button,
#calendar .fc-next-button {
    background: none;
    border: none;
    color: #666;
}

#calendar .fc-prev-button:focus,
#calendar .fc-next-button:focus {
    -webkit-box-shadow: none;
}

#calendar .fc-toolbar.fc-header-toolbar {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

.fc-day-header.fc-widget-header {
    padding-bottom: 2%;
    padding-top: 2%;
    font-size: 1.5em;
    font-weight: normal;
    border: none;
}

#calendar td {
    text-align: center;
    position: relative;
}

#calendar .fc-day-top span.fc-day-number {
    float:none;
}

#calendar .fc-scroller.fc-day-grid-container {
    overflow: hidden;
}

.fc-widget-header {
    background: #ffffff;
}

.fc-view {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.fc-event, .fc-event-dot {
    background-color: unset;
        border: 1px solid;
}

.fc-event {
    color: #000;
}

.td.fc-day {
    position: relative;
}

.td.fc-day .donator-status {
    top: 50%;
    left: 40%;
    z-index: 9999;
    position: absolute;
}

.donator-status .schedule-note,
.donator-status .avaliable-note {
	float: left;
}

.donator-status {
    display: inline-block;
    color: #999;
    position: absolute;
    bottom: -0.8vh;
}

.fc td, .fc th {
    vertical-align: bottom;
}

.fc-left:focus, .fc-right:focus {
    outline: none;
}

/* ==== digital clock ===== */
.clock {
    margin-left: 50%;
    width: 11.5vw;
    height: 11.5vw;
    border-radius: 11.5vw;
    transform: translate3d(-5vw, 9vh, 0);
    background: #f8f7f2;
    box-shadow: 1.5rem 2.5rem 2rem rgba(146, 135, 121, 0.1),
        0.5rem 1rem 1.5rem rgba(104, 93, 82, 0.3),
        inset 0 0 0.4rem rgba(104, 93, 82, 0.2),
        inset -0.2rem -0.1rem 0.4rem rgba(146, 135, 121, 0.2),
        1rem 1rem 6rem rgba(146, 135, 121, 0.2);
}

.face {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10vw;
    height: 10vw;
    border-radius: 10vw;
    transform: translateX(-50%) translateY(-50%);
    background: #f8f7f2;
    box-shadow: 0 0 0.1rem rgba(104, 92, 82, 0.5),
        inset 1rem 1rem 0.4rem rgba(146, 135, 121, 0),
        inset 0.7rem 0.5rem 2rem rgba(146, 135, 121, 0.3),
        inset 0.5rem 0.5rem 1rem rgba(104, 93, 82, 0.4);
}

.hand {
    position: absolute;
    left: calc(50% - 0.2vw);
    width: 0.4vw;
    border-radius: 50rem;
    background: #685d52;
    filter: blur(0.4px);
}

.hour {
    height: 3.3vw;
    transform-origin: 50% 3vw;
    top: calc(50% - 3vw);
    animation: 43200s infinite linear;
    box-shadow: 0.25rem -0.125rem 0.35rem rgba(104, 93, 82, 0.4);
}

.minute {
    height: 4.3vw;
    transform-origin: 50% 4vw;
    top: calc(50% - 4vw);
    animation: 3600s infinite linear;
    box-shadow: 0.25rem -0.125rem 0.35rem rgba(104, 93, 82, 0.4);
}

.cover {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 1vw;
    height: 1vw;
    border-radius: 50rem;
    background: #685d52;
    box-shadow: inset 0.4rem 0.8rem 1rem rgba(146, 131, 117, 0.6),
        inset -0.4rem -0.8rem 1rem rgba(75, 68, 60, 0.6),
        0.1rem 0.1rem 1.2rem rgba(75, 68, 60, 0.8);
    filter: blur(0.4px);
}

.cover:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    transform: rotate(-25deg) scaleX(0.6);
    box-shadow: -0.5rem 1rem 2.5rem rgba(104, 93, 82, 0.8);
}

.second-bulb {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 0.5vw;
    height: 0.5vw;
    border-radius: 50rem;
    background: #c15c48;
    box-shadow: 0.1rem 0.15rem 0.2rem rgba(70, 62, 55, 1);
    filter: blur(0.6px);
}

.second {
    height: 5.3vw;
    transform-origin: 50% 4vw;
    top: calc(50% - 4vw);
    transform: rotate(90deg);
    background: #c15c48;
    width: 0.2vw;
    left: calc(50% - 0.1vw);
    border-radius: 10rem;
    box-shadow:0.25rem -0.125rem 0.35rem rgba(104, 93, 82, 0.4);
    animation: 60s infinite;
}

.clock-number {
    position: absolute;
    left: 50%;
    top: calc(50% - 4.3vw);
    font-size: 0.8vw;
    font-weight: 900;
    font-family: Arial;
    transform: translate3d(-50%, -50%, 0);
    color: #645046;
    filter: blur(0.4px);
}

.clock-number:last-child {
    top: 50%;
    left: calc(50% + 4.5vw);
}

.contrib {
    position: fixed;
    bottom: 5%;
    left: 50%;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 100;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.4);
    letter-spacing: 2px;
    transform: translateX(-50%);
    text-decoration: underline;
}

.sig {
    position: fixed;
    bottom: 8px;
    right: 8px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 100;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.4);
    letter-spacing: 2px;
}

/* ===== text-clock ======== */

.backgroundinfo {
    width: 100%;
    vertical-align: middle;
    margin-top: 14vh;
    margin-left: 1vw;
}

#dateinfo,
#timeinfo {
    text-align: center;
}

#dateinfo {
    margin: auto;
    font-size: 2vw;
    font-family: 'Roboto';
}

#timeinfo {
    margin: auto;
    font-size: 2.5vw;
    font-family: 'Roboto';
}

.event-note {
    margin-top: 13vh;
    margin-left: 8vw;
}

.event-note h3 {
    font-weight: bold;
    margin-bottom: 1.5vw;
    font-size: 1.3vw;
}

.schedule-note, .avaliable-note {
    font-size: 0.8vw;
}

.schedule-note::before,
.avaliable-note::before {
    content: "\2022";
    color: #6E95CA;
    font-weight: bold;
    display: inline-block;
    width: 0.8em;
    line-height: 4vh;
    font-size: 1.2vw;
    vertical-align: sub;
}

.avaliable-note::before {
    color: #FF7E77;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {

    .clock {
        transform: translate3d(-5vw, 14vh, 0);
    }

    .face {
        box-shadow: 0 0 0.1rem rgba(104, 92, 82, 0.5),
            inset 1rem 1rem 0.4rem rgba(146, 135, 121, 0),
            inset 0.7rem 0.5rem 2rem rgba(146, 135, 121, 0.3),
            inset 0.2rem 0.3rem 0.8rem rgba(104, 93, 82, 0.4);
    }

    .backgroundinfo {
        margin-top: 18vh;
    }

    .event-note {
        margin-top: 10vh;
        margin-left: 6vw;
    }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {

    .clock {
        transform: translate3d(-5vw, 16vh, 0);
        box-shadow: 0.1rem 0.1rem 0.3rem rgba(146, 135, 121, 0.1),
            0.3rem 0.8rem 1.5rem rgba(104, 93, 82, 0.3),
            inset 0 0 0.4rem rgba(104, 93, 82, 0.2),
            inset -0.2rem -0.1rem 0.4rem rgba(146, 135, 121, 0.2),
            1rem 1rem 6rem rgba(146, 135, 121, 0.2);
    }

    .face {
        box-shadow: 0 0 0.1rem rgba(104, 92, 82, 0.5),
            inset 1rem 1rem 0.4rem rgba(146, 135, 121, 0),
            inset 0.3rem 0.6rem 2rem rgba(146, 135, 121, 0.3),
            inset 0.25rem 0.2rem 0.8rem rgba(104, 93, 82, 0.4);
    }

    .fc-row .fc-content-skeleton {
        line-height: 43px;
    }

    .donator-status {
        font-size: 10px;
    }

    #calendar .fc-day-top span.fc-day-number {
        font-size: 15px;
    }

    .backgroundinfo {
        margin-top: 20vh;
    }

    .event-note {
        margin-top: 8vh;
        margin-left: 5vw;
    }
}
