/*
  overriding style
*/
.intl-tel-input {
    display: block;
    font-size: 12px;
}
.intl-tel-input .country-list .flag-box,
.intl-tel-input .flag-container .iti-flag {
    display: none;
}
.intl-tel-input.separate-dial-code .selected-flag {
  background: transparent;
  border-radius: 5px;
}
.intl-tel-input.allow-dropdown .flag-container:hover .selected-flag {
  background: transparent;
}
.intl-tel-input.allow-dropdown .flag-container .selected-flag:focus {
  outline: none;
}
.intl-tel-input .country-list {
    z-index: 100;
}

