.content-wrapper, .main-footer {
	margin-left: 0;
}
.content-wrapper .content {
	font-size: 13px;
    font-family: 'roboto-Regular';
	padding: 9px 12px;
}
.skin-black .main-header .navbar {
	background: #ffffff;
}
.skin-black .main-header .navbar .navbar-nav>li>a {
	border-right: none;
}
.nav .postion-address a {
	top: 0;
}
.navbar-page-title {
	padding: 0 15px;
	padding-left: 8%;
}
.content-header {
	padding-left: 0;
}
.title-page {
    font-size: 20px;
    font-family: 'roboto-Regular';
    margin-bottom: 10px;
}

.btn-blue {
    background-color: #009bdd;
    color: #ffff;
    border: none;
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue.hover {
    background-color: #009bdd;
    color: #ffff;
}

.box.box-solid>.box-header .btn:hover, .box.box-solid>.box-header .btn-blue:hover {
    background-color: #009bdd;
    color: #ffff;
}

.title-wrp {
	padding-top: 20px;
	padding-left: 3px;
}
