@font-face {
    font-family: 'roboto-Regular';
    src: url('../font/ROBOTO-REGULAR.OTF') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    src: url('../font/ROBOTO-MEDIUM.TTF') format('truetype');
  }

html, body {
    height: 0;
}
body {
    font-family: 'roboto-Regular';
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
}

.login-box {
    width: 700px;
    margin: 7% auto;
}
.main-background {
    background-color: #ffffff;
    border-radius: 10px;
}
.img {
    width: 250px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.padding-left-rigth {
    padding-left: 0;
    padding-right: 0;
}
.title-login {
    margin-bottom: 35px;
}
.text-des {
    color: #adadad;
}
input::-webkit-input-placeholder
,textarea::-webkit-input-placeholder {
    color: #989898 !important;
    font-size: 10px;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #989898 !important;
    font-size: 10px;

}
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #989898 !important;
    font-size: 10px;
}
input:-ms-input-placeholder ,
textarea:-ms-input-placeholder {
    color: #989898 !important;
    font-size: 10px;
}
.title-login h3 {
    font-family: 'Roboto';
}
.form-input {
    width: 100%;
}
.checkbox {
    margin-top: 0;
    margin-bottom: 0;
}

.btn-sm {
    padding: 5px 20px;
}
.btn-md {
    padding: 9px 20px;
    font-family: 'Roboto';
}

.btn {
    border-radius: 4px;
    font-size: 13px;
}

.btn-blue {
    background: linear-gradient(90deg, rgba(0,170,227,1) 0%, rgba(0,146,218,1) 80%);
    color: #ffff;
    border: none;
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue.hover {
    background: linear-gradient(90deg, rgba(0,170,227,1) 0%, rgba(0,146,218,1) 80%);
    color: #ffff;
}
.btn-blue:active:focus {
    background: linear-gradient(90deg, rgba(0,170,227,1) 0%, rgba(0,146,218,1) 80%);;
    color: #ffff;
    outline: none;
}
.btn-blue:focus,
.btn-blue.focus {
    background: linear-gradient(90deg, rgba(0,170,227,1) 0%, rgba(0,146,218,1) 80%);;
    color: #ffff;
}
.form-btn {
    margin-top: 95px;
}
.container-form {
    padding-left: 45px;
    padding-right: 0;
}
.box-form {
    padding: 10px 95px;
}

.checkbox-remember {
    padding-left: 0;
}
.link-forget-pass {
    padding-right: 0;
    text-align: right;
}
.header-back {
    padding: 15px 40px;
}
.header-back span {
    vertical-align: middle;
}

.login-page,
.register-page {
    background: #ecf0f5bd;
}

.form-control {
    border-radius: 3px;
    border-color: #e8e8e8;
}

.form-control:focus {
    border-color: #d2d6de;
}

.img-back {
    width: 16px;
    margin-right: 5px;
}
.nav > li > a {
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: 'Roboto';

}
.nav>li.active>a, .nav>li.active>a:hover, .nav>li.active>a:focus {
    color: #e52d47;
    background-color: transparent;
    border-top-color: transparent;
    border-bottom: 3px solid #e52d47;
    border-radius: 2px;

}
.nav-tabs-custom>.nav-tabs>li>a {
    color: #adadad;
}
.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color:  transparent;
}

.nav-tabs-custom>.tab-content {
    padding: 25px 0;
}
.nav-tabs-custom  {
    margin-bottom: 0;
    box-shadow: none;
    border-radius: 0;
}
.nav-tabs-custom>.nav-tabs>li.active>a {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}
.nav-tabs-custom>.nav-tabs>li:first-of-type.active>a {
    color: #e52d47;
}
.nav-tabs > li {
    padding: 0px 40px;
}
.send-code{
    margin-right: 0;
    margin-left: 0;
}
.send-code a {
    vertical-align: -webkit-baseline-middle;
    text-decoration: underline;
}
.btn-submit {
    margin-top: 30px;
}
.title-forget-pass {
    margin-top: 0;
    text-align: center;
}
