@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../styles/AdminLTE.min.css';
@import '../styles/skin-black.min.css';
@import '../styles/adminlte_customize.css';
@import '../styles/tooltip.css';
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic");
@import '../styles/fullcalendar.css';


@font-face {
    font-family: 'roboto-Regular';
    src: url('./font/ROBOTO-REGULAR.OTF') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    src: url('./font/ROBOTO-MEDIUM.TTF') format('truetype');
}
body {
    font-family: 'roboto-Regular';
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
}