/* solak css 22 may 2019*/
#modal-schedule-appointment .modal-content,
#modal-walk-in .modal-content
{
    border-radius: 5px;
    background: transparent;
    box-shadow: none;
}

#modal-schedule-appointment .modal-header,
#modal-schedule-appointment .modal-body,
#modal-walk-in .modal-header,
#modal-walk-in .modal-body {
    background: #ffffff;
}

#modal-schedule-appointment .modal-header,
#modal-walk-in .modal-header {
    border-radius: 4px 4px 0 0;
}

#modal-schedule-appointment .modal-body,
#modal-walk-in .modal-body {
    border-radius: 0 0 4px 4px;
}

#modal-schedule-appointment .modal-footer,
#modal-walk-in .modal-footer {
    border-top: none;
}

.section-info {
    margin-left: 43px;
    margin-right: 43px;
    margin-top: 35px;
}

.section-info .lable, .section-info .txt {
    font-size: 13px;
    padding-bottom: 15px;
}

.section-info .lbl-inp {
    padding-top: 5px;
}

.section-info .txt {
    font-weight: bold;
}

.section-info .input input {
    border-radius: 4px 0 0 4px;
    border-right: none;
}

.section-info .input input::placeholder {
    font-size: 12px;
}

.section-info .input span {
    border-radius: 0 4px 4px 0;
    border-left: none;
    color: #cccccc;
}

.section-btn {
    margin-top: 28px;
}

.section-btn button,
.section-btn-booking button {
    width: 245px;
    font-size: 13px;
}

.section-btn button:hover,
.section-btn-booking button:hover,
.section-btn button:focus,
.section-btn-booking button:focus
 {
    color: #ffffff;
}

.no-search,
.no-associated {
    padding-top: 5px;
    color: #989898;
}

.no-search .fa-info-circle,
.no-associated .fa-info-circle
 {
    color: moccasin;
}

.link-create-user {
    font-weight: 600;
    color: #00acd6;
    font-size: 13px;
    padding: 10px;
}

.link-create-user span {
    cursor: pointer;
}

.form-group .required-field-sign {
    color: red;
    font-size: medium;
    padding: 0 5px 0 0;
}

.hr-line {
    border-style: dashed;
}

.section-create-user .row {
    margin-bottom: 15px;
}

.section-create-user .birthday input {
    width: 60px;
    text-align: center;
    display: inline-block;
}

.section-create-user .birthday span {
    padding-left: 10px;
    padding-right: 10px;
}

.section-create-user input,
.section-create-user select {
    border-radius: 4px;
}

.form-wrp  {
    padding: 30px 30px 0;
}

.section-btn-booking {
    padding-bottom: 30px;
}

.profile {
    text-align: center;
    padding: 15px;
}

.profile .profile-image {
    width: 65px;
    height: 65px;
    border-radius: 50px;
    border: 1px solid #cccccc;
}

.donor-info-wrp .row {
    margin-bottom: 15px;
}

.donor-info-wrp {
    padding: 15px;
}

.donor-info-wrp .txt-i {
    font-weight: 550;
    letter-spacing: 1px;
}

.modify-apm-info .date input {
    border-radius: 4px 0 0 4px;
    border-right: none;
    font-size: 12px;
}

.modify-apm-info .date span {
    border-radius: 0 4px 4px 0;
}

.modify-apm-info .time select {
    border-radius: 4px;
    font-size: 12px;
}

.section-cancel-apm {
    padding: 30px 30px 15px 30px;
}
.section-cancel-apm p {
    font-size: 16px;
}

.section-cancel-apm .section-btn-comfirm {
    margin-top: 40px;
}

.section-cancel-apm .section-btn-comfirm button {
    width: 150px;
}

.section-cancel-apm .section-btn-comfirm button:hover,
.section-cancel-apm .section-btn-comfirm button:focus {
    color: #ffffff;
}

.calendar_apm {
    width: 15px;
}

#modal-schedule-appointment #phoneNumber,
#modal-walk-in #phoneNumber {
    padding-left: 52px !important;
}

.mailing-address .label-mg {
    margin-top: 5px;
}

.mailing-address .collapse {
    margin-top: 10px;
}

.mailing-address .padding-right-0 {
    padding-right: 0;
}

.mailing-address .padding-left-0 {
    padding-left: 0;
}

.section-footer {
    padding-top: 30px;
}
