.nav-menu-tab {
    background-color: #ffffff;
    border-radius: 5px;
}

.nav-menu-tab>li.active>a,
.nav-menu-tab>li.active>a:hover,
.nav-menu-tab>li.active>a:focus {
    color: #e52d47;
    background-color: transparent;
    border-top-color: transparent;
    border-bottom: 3px solid #e52d47;
    font-weight: normal;
    background-color: #ffffff;
}
.nav-menu-tab>li>a:hover, .nav-menu-tab>li>a:active, .nav-menu-tab>li>a:focus
{
    background-color: #ffffff;
    color: #e52d47;
}
.nav-pills>li>a {
    border-bottom: 3px solid transparent;
    font-family: 'Roboto';
    color: #b4bac2;
}
