.table .other-block td {
    border-bottom: none;
}
.table .other-last td {
    border-top: none;
    border-bottom: none;
}
.table>tbody>tr>td {
    font-size: 0.9em;
}
.box-time {
    border-radius: 0;
}
.box-content .box-time:last-child {
    box-shadow: none;
}

.role-btn {
    padding: 20px;
}
.role-btn .btn-submit {
    font-size: 14px;
    width: 230px;
    padding: 10px;
}
.box-role .title-page {
    font-size: 1.1em;
}
/* Employee style */
.table-employee {
    margin-top: 20px;
    width: 75%;
    margin-bottom: 0px;
}
.table-employee>tbody>tr>td {
    border: none;
    padding: 0px 8px;
}
.table-employee .search-label {
    text-align: right;
    padding-top: 5px;
}
.table-employee .filter-label {
    padding-right: 0;
    padding-top: 5px;
}
.btn-search {
    background-color: #ffffff;
    border-right: 1px solid #d2d6de;
    border-top: 1px solid #d2d6de;
    border-bottom: 1px solid #d2d6de;
    border-left: none;
}
.btn-search:hover {
    background-color: #ffffff;
    background-color: #ffffff;
    border-right: 1px solid #d2d6de;
    border-top: 1px solid #d2d6de;
    border-bottom: 1px solid #d2d6de;
}
.btn-search svg {
    color: #6f6d6d;
}

.btn-search:active,
.btn-search:focus{
    background-color: #ffffff;
    border-color: #d2d6de;
}
.btn-create-new .btn{
    padding-left: 30px;
    padding-right: 30px;
}
.input-group-search>
.input-group-btn > .btn {
    outline: none;
}
.input-group-search .form-control {
    border-right-color: #ffffff;
}
.h-action, .col-action {
    text-align: center;
}
.col-action img {
    margin-right: 15px;
    width: 15px;
}
.box-employee {
    padding-bottom: 30px;
}
.box-create-employee {
    padding-top: 30px;
    padding-bottom: 30px;
}
.vselected {
    padding: 6px 10px;
    border: 1px solid #009bdd;
    display: inline-block;
    border-radius: 4px;
    margin-bottom: 5px;
}
.trash-bin {
    cursor: pointer;
}
.vselected .fa-times {
    margin-left: 15px;
    color: #009bdd;
}

.btn-blue-custom {
    background: #FFFFFF;
    color: #009bdd;
    border: 1px solid #009bdd;
    width: 210px;
    font-size: 14px;
}

.btn-blue-custom:hover, .btn-blue-custom:focus {
    color: #0379ab;
    border: 1px solid #0379ab;
}

.csl-location .clearfix{
    margin-bottom: 25px;
}

.select-box select {
    width: 47%;
    float: left;
}
.select-box .last {
    margin-left: 6%;
}

/* check box */
.check-box-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.check-box-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eff3f9;
    border-radius: 5px;
    border: 1px solid #d2d6de;
}
.check-box-container:hover input ~ .checkmark {
    background-color: #eff3f9;
}
.check-box-container input:checked ~ .checkmark {
    background-color: #009bdd;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.check-box-container input:checked ~ .checkmark:after {
    display: block;
}
.check-box-container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
@media screen and (max-width: 1086px) {
    .respon-menu-action {
        display: flex;
        width: 45px;
    }
}
