.user-icon {
    width: 60px;
    float: left;
    margin-right: 10px;
}

.user-icon .user-image {
    width: 60px;
    border-radius: 50px;
}

.user-info {
    margin-top: 10px;
}

.user-info .fb-date {
    color: #c3c3c3;
}

.user-name {
    font-weight: 550;
}

.feedback-content {
    padding-top: 15px;
    padding-bottom: 10px;
    line-height: 1.75;
}

.row-wrp {
    padding-top: 20px;
    padding-bottom: 20px;
}

.view-detial {
    margin-top: 10px;
    font-weight: 550;
}

.feedback-list {
    margin-top: 20px;
}

.box-create-survey,
.box-create-feedback,
.box-survey-av,
.box-target-audience,
.box-reward {
    padding: 20px;
}

.box-create-survey .objective,
.box-create-survey .question {
    width: 58%;
}
.text-gray {
    color: #7a7a7a;
}
.box-create-survey .text-gray,
.box-create-feedback .text-gray,
.box-survey-av .text-gray,
.box-target-audience .text-gray {
    margin-left: 10px;
    color: #7a7a7a;
}

.box-create-survey .rate-desc {
    font-weight: 550;
}

.box-create-survey .num-order,
.box-approval-wrp .num-order,
.box-review-wrp .num-order {
    color: #e52d47;
    border: 1px solid #e52d47;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 50px;
    padding-top: 3px;
    margin-right: 10px;
    padding-bottom: 3px;
    margin-left: -4px;
}

.box-create-survey .rate-list {
    margin-left: 25px;
}

.rate-list li {
    padding: 5px;
}

.form-2 {
    padding-left: 0;
}

.input-q {
    width: 73%;
}

.input-q .input-addon {
    padding: 0 5px 0 0;
    border: none;
    font-weight: 550;
}

.input-q .form-control:not(:first-child):not(:last-child),
.input-answer .form-control:first-child,
.select-city .form-control:first-child {
    border-radius: 3px;
}

.input-addon-trash {
    width: 17px;
    margin-left: 15px;
    cursor: pointer;
}

.input-answer {
    margin-left: 25px;
    margin-top: 15px;
    width: 60%;
}

.input-answer .input-addon,
.select-city .input-addon {
    border: none;
}

.input-addon-plus, .sub-addon-trash {
    margin-left: 5px;
    width: 17px;
    cursor: pointer;
}

.answer-ol {
  counter-reset: answer-counter;
  list-style: none;
  margin-left: 0;
  padding-left: 20px;
}

.answer-ol li {
  counter-increment: answer-counter;
  position: relative;
}

.answer-ol li::before {
    content: counter(answer-counter) ". ";
    line-height: var(--size);
    text-align: center;
    position: absolute;
    top: 5px;
}

.city-ol {
  counter-reset: city-counter;
  list-style: none;
  margin-left: -15px;
}

.city-ol li {
  counter-increment: city-counter;
  position: relative;
}

.city-ol li::before {
    content: counter(city-counter) ". ";
    line-height: var(--size);
    text-align: center;
    position: absolute;
    top: 5px;
}

.select-city {
    margin-left: 25px;
    margin-top: 15px;
    width: 61%;
}

.section-btn {
    margin-top: 20px;
}

.btn-blue-custom {
    background: #FFFFFF;
    color: #009bdd;
    border: 1px solid #009bdd;
    width: 210px;
    letter-spacing: 0.4px;
}

.btn-blue-custom:hover, .btn-blue-custom:focus {
    color: #0379ab;
    border: 2px solid #0379ab;
}

.box-create-feedback {
    padding-bottom: 0;
}

.box-create-feedback .radio {
    margin-top: 0;
    margin-bottom: 25px;
}
.valid-for {margin-bottom: 0;}
.valid-for input[type="text"],
.valid-for select {
    display: inline-block;
    margin-left: 15px;
}

.valid-for input[type="text"] {
    width: 50px;
    padding: 6px;
    text-align: center;
    margin-left: 35px;
}

.valid-for select {
    width: 250px;
}

.valid-yes input[type="text"] {
    width: 40px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 6px;
    display: inline-block;
    text-align: center
}

.valid-yes .year {
    width: 55px !important;
}

.valid-yes .day {
    margin-left: 60px !important;
}

.avaliable-in .mg-checkbox,
.checkbox-wrp .mg-checkbox {
    margin-left: 40px;
}

.checkbox-wrp .custom-age {
    margin-left: 48px;
}

.custom-age .age-from,
.custom-age .age-to {
    width: 50px;
    display: inline-block;
    padding: 6px;
    height: 25px;
    font-size: 12px;
}

.box-target-audience .gender .checkbox-inline,
.box-target-audience .age-group .checkbox-inline,
.box-target-audience .activeness .checkbox-wrp {
    margin-bottom: 15px;
}

.box-target-audience .location-city select {
    width: 64%;
}

.box-target-audience .location-state .state {
    display: inline-block;
    width: 30%;
    margin-right: 30px;
}

.box-target-audience .section-btn {
    margin-top: 10px;
}

.content small.text-gray {
    margin-left: 0;
}

.box-reward {
    padding-bottom: 15px;
}

.box-reward .cash,
.box-reward .point {
    display: inline-block;
    width: 58px;
    text-align: center;
}

.box-reward .radio{
    margin-bottom: 20px;
}

.btn-draft,
.btn-preview,
.btn-reject,
.btn-unpublish {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
    margin-top: 20px;
    width: 200px;
    font-size: 14px;
}

.btn-submit-approval,
.btn-submit-reviewed,
.btn-submit-approve {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 428px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 14px;
}

.content .mg-txt-gray {
    margin-left: 20px;
}

.box-review-wrp, .box-approval-wrp {
    padding: 20px 40px;
}

.review-survey-box-title {
    font-size: 18px;
    margin-top: 0;
    color: #000;
}

.box-review-wrp .head-wrp,
.box-approval-wrp .head-wrp {
    margin-bottom: 25px;
}

.box-review-wrp .hasNote,
.box-approval-wrp .hasNote {
    margin-bottom: 0;
}

.box-review-wrp .form-group,
.box-approval-wrp .form-group {
    margin-bottom: 20px;
}

/* progress bar */
.progress-wrp {
    position: relative; height: 70px;
}

.progress-icon {
    position: absolute;
    top: 17px;
    z-index: 1;
}

.progress-wrp .padr2 {
    padding-right: 2%;
}
.progress-wrp .padr3 {
    padding-right: 3%;
}
.progress-wrp .padr4 {
    padding-right: 4%;
}
.progress-wrp .padr5 {
    padding-right: 5%;
}
.progress-wrp .padr6 {
    padding-right: 6%;
}
.progress-wrp .padl3 {
    padding-left: 3%;
}
.progress-wrp .padl4 {
    padding-left: 4%;
}
.progress-wrp .mgl4-7 {
    margin-left: 4.7%;
}
.progress-wrp .progress-ct {
    margin-bottom: 5px;
    margin-top: 5px;
    background: #fefefe;
    border-radius: 4px;
}

.rate-list .pgress-wrp {
    float: left;
    width: 80%;
}

.rate-list .pgress-wrp .progress {
    float: left;
    margin-top: 6px;
    margin-bottom: 0px;
    border-radius: 0 5px 5px 0;
}

.rate-list .pgress-wrp .progress-bar {
    width: 100%
}

.rate-list .pgress-wrp .pgress-percent {
    float: left;
    margin-left: 10px;
}

.rate-list .rcontent {
    width: 13%;
    float: left;
}

.rate-list .col-md-12 {
    padding-left: 0;
}

.progress-color-1 {
    color: #d7d9dd;
}
.progress-bgcolor-1 {
    background: #d7d9dd;
}
.progress-color-2 {
    color: #7d9cae;
}
.progress-bgcolor-2 {
    background: #7d9cae;
}
.progress-color-3  {
    color: #5d7593;
}
.progress-bgcolor-3  {
    background: #5d7593;
}
.progress-color-4  {
    color: #f5a56b;
}
.progress-bgcolor-4  {
    background: #f5a56b;
}
.progress-color-5  {
    color: #f5826b;
}
.progress-bgcolor-5  {
    background: #f5826b;
}
.feedback-no {
    vertical-align: sub;
}
.rewards-option {
    margin-bottom: 10px;
    margin-top: 0;
}
