.main-tooltip {
    position: relative;
    display: inline-block;
}
.main-tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #ecf0f5bd;
    color: #b4bac2;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -60px;
}
.main-tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 20%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:#ecf0f5bd transparent transparent transparent;
}
.main-tooltip:hover .tooltiptext {
    visibility: visible;
}
