/* header box filter */
.btn-search {
    background-color: #ffffff;
    border-right: 1px solid #d2d6de;
    border-top: 1px solid #d2d6de;
    border-bottom: 1px solid #d2d6de;
    border-left: none;
}
.btn-search:hover {
    background-color: #ffffff;
    background-color: #ffffff;
    border-right: 1px solid #d2d6de;
    border-top: 1px solid #d2d6de;
    border-bottom: 1px solid #d2d6de;
}
.btn-search svg {
    color: #6f6d6d;
}
.btn-search:active,
.btn-search:focus{
    background-color: #ffffff;
    border-color: #d2d6de;
}
.input-group-search>
.input-group-btn > .btn {
    outline: none;
}
.input-group-search .form-control {
    border-right-color: #ffffff;
}
.form-horizontal .control-label-filter {
    white-space: nowrap;
    text-align: left;
}
.btn-excel {
    padding: 5px 22px;
}
.box-table {
    border-top: 1px solid #f4f4f4;
}
.table-fash-cash>tbody>tr>th {
    border-top: none;
}
.table-fash-cash>tbody>tr>td {
    padding: 10px 8px;
    color: #545e67;
}
.btn-excel {
    font-size: 15px;
    color: #009bdd;
}
.btn-excel:active, .btn-excel:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #009bdd;
}
.btn-excel:hover {
    color: #009bdd;
}
.filter-color {
    color: #989898;
}
.fl-method {
    padding-right: 0;
}
.fl-payment {
    padding-right: 0;
}
.fl-location {
    padding-right: 0;
}
.fl-op-excel {
    padding-left: 0;
    padding-right: 0;
}
.fl-op-excel .btn-excel {
    padding: 0;
}

.ft-padding-rg-0 {
    padding-right: 0;
}
.ft-padding-lt-0 {
    padding-left: 0;
}

.ft-search-input {
    padding-right: 0;
}

@media screen and (max-width: 1600px) {
    .control-label-filter {
        font-size: 12px;
    }
    .fl-payment {
        margin-left: -24px;
    }
    .fl-payment .control-label {
        margin-right: 10px;
    }
    .fl-location {
        margin-left: -10px;
    }
    .fl-operator {
        margin-left: -25px;
    }
    .fl-operator .control-label {
        padding-right: 40px;
    }
}

@media screen and (max-width: 1150px) {
    .ft-search-input {
        padding-left: 25px;
    }
    .fl-method-input {
        padding-left: 25px;
    }
    .fl-paymentway-input {
        padding-left: 35px;
    }
    .ft-location-input {
        padding-left: 20px;
    }
    .ft-excel-export {
        display: flex;
        flex-direction: row;
    }
    .ft-operator-input {
        padding-right: 0;
    }
    .fl-op-excel  {
        padding-left: 15px;
    }
}
