/* Donation Center */
.table-dc>tbody>tr>td {
    border: none;
    padding: 0px 8px;
}
.table-dc>tbody>tr>td:nth-of-type(3),
.table-dc>tbody>tr>td:nth-of-type(4),
.table-dc>tbody>tr>td:nth-of-type(5),
.table-dc>tbody>tr>td:nth-of-type(6) {
    padding-left: 0;
}

.table-dc .search-label {
    text-align: right;
    padding-top: 5px;
}
.table-dc .filter-label {
    padding-right: 0;
    padding-top: 5px;
}
.btn-search {
    background-color: #ffffff;
    border-right: 1px solid #d2d6de;
    border-top: 1px solid #d2d6de;
    border-bottom: 1px solid #d2d6de;
    border-left: none;
}
.btn-search:hover {
    background-color: #ffffff;
    background-color: #ffffff;
    border-right: 1px solid #d2d6de;
    border-top: 1px solid #d2d6de;
    border-bottom: 1px solid #d2d6de;
}
.btn-search svg {
    color: #6f6d6d;
}
.btn-search:active,
.btn-search:focus{
    background-color: #ffffff;
    border-color: #d2d6de;
}
.input-group-search>
.input-group-btn > .btn {
    outline: none;
}
.input-group-search .form-control {
    border-right-color: #ffffff;
}

.donation-center {
    padding: 0 20px;
}
.table-icon-donation>tbody>tr>td {
    text-align: center;
}
.table-icon-donation>tbody>tr>td:last-child {
    text-align: left;
    width: 20%;
    border-left: 1px solid #ecf0f5;
    padding-top: 8px;
    padding-bottom: 0;
    padding-left: 35px;
    white-space: nowrap;
    padding-right: 0;
}
.table-icon-donation>tbody>tr>td>h4:first-child {
    margin-top: 0;
    font-size: 15px;
    font-family: 'Roboto';
}
.table-icon-donation>tbody>tr>td>img {
    margin-bottom: 30px;
}
.table-icon-donation>tbody>tr>td {
    border: none;
}
.number {
    margin-bottom: 18px;
}
.number h4 {
    margin: 0;
    background-color: #f5f5f5;
    width: 5em;
    padding: 4px 0;
    margin: 0 auto;
    border-radius: 10px;
    font-family: 'Roboto';
}
.number span {
    font-weight: 500;
    font-size: 15px;
}
.text-color-green {
    color: #0ecea8;
}
.box-blood {
    width: 10%;
}
.box-blood img {
    width: 17%;
}
.box-donations {
    width: 10%;
}
.box-donations img {
    width: 19%;
}
.box-remaining {
    width: 10%;
}
.box-remaining img {
    width: 20%;
}
.box-injection {
    width: 11%;
}
.box-injection img {
    width: 17%;
}
.box-calendar {
    width: 11%;
}
.box-calendar img {
    width: 18%;
}
.box-walk {
    width: 11%;
}
.box-walk img {
    width: 20%;
}
.table-operation-process>tbody>tr>td {
    width: 52%;
    padding: 6px 0;
}
.table-operation-process>tbody>tr>td:first-child {
    color: #989898;
}
.table-operation-process>tbody>tr>td:last-child{
    font-family: 'Roboto';
}
/* Currently in donation center */
.nav-tabs-custom>.nav-tab-list-event>li {
    margin-right: 0;
}
.nav-tab-list-event>li>a {
    font-size: 14px;
    padding: 10px 30px;
}
.nav-tabs-custom>.nav-tab-list-event>li.active {
    border-top-color: transparent;
}
.nav-tabs-custom>.nav-tab-list-event>li:first-of-type.active>a {
    border-left-color: #d2d6de;
}
.nav-tabs-custom>.nav-tab-list-event>li.active>a {
    border-top-color: #d2d6de;
    border-left-color: #d2d6de;
    border-right-color: #d2d6de;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.nav-tabs-custom>.nav-tab-list-event>li>a,
.nav-tabs-custom>.nav-tab-list-event>li>a:hover {
    background: #f5f5f5;
    color: #8c8c8c;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.nav-tabs-custom>.nav-tab-list-event>li.active>a,
.nav-tabs-custom>.nav-tabs>li.active:hover>a {
    color: #e52d47;
}
.search-donor {
    width: 35em;
}
.time-slote-filter {
    width: 35%;
}
.label-filter {
    float: left;
    padding-right: 10px;
    margin: 5px 0;
}
.label-history-time {
    font-size: 16px;
    color: #777;
    font-weight: 600;
    margin: 10px 0;
}
img {
    vertical-align: baseline;
}
.img-clock {
    vertical-align: -webkit-baseline-middle;
    padding-right: 10px;
}
.img-clock img {
    width: 19px;
}
.title-time {
    font-size: 15px;
}
.title-appointments {
    font-size: 15px;
}
.title-appointments
.dot-one {
    color: #759dc8;
    font-size: 6px;
}
.title-appointments
.dot-two {
    color: #f38b7f;
    font-size: 6px;
}
.title-number {
    font-size: 16px;
    font-family: 'Roboto';
}
.table-time {
    margin-bottom: 0;
}
.table-time>tbody>tr>td:first-child {
    width: 56%;
    padding-left: 0;
}
 .box-target-statistics>tbody>tr>td,
.table-time>tbody>tr>td {
    border: none;
}
.table-time>tbody>tr>td:nth-of-type(2),
.table-time>tbody>tr>td:nth-of-type(3) {
    white-space: nowrap;
}
.box-target-statistics
.icon-arrow-down {
    width: 15px;
    vertical-align: bottom;
}
.btn-toggle-arrow
.icon-arrow-down {
    width: 15px;
    vertical-align: bottom;
}
.nav-tabs-custom {
    box-shadow: none;
}
.box-time {
    box-shadow: none;
    border-top: 1px solid #ecf0f5;
}
.table-time-desc>tbody>tr>th {
    text-align: center;
    border-top: none;
    border-bottom: 1px solid #ecf0f5;
    white-space: nowrap;
}
.table-time-desc>tbody>tr>td {
    text-align: center;
    padding: 10px 8px;
    vertical-align: middle;
    border-bottom: none;
}
.table-time-desc>tbody>tr>td:last-child {
    display: flex;
    flex-direction: row;
}
.table-time-desc>tbody>tr>td>span:last-child {
    padding-top: 5px;
    padding-bottom: 5px;
}
.icon-schedule-appointment {
    width: 16px;
    vertical-align: bottom;
}
.table-processing { margin-bottom: 0; }
.table-processing>tbody>tr>th {
    border-top: none;
    padding: 10px 8px;
    white-space: nowrap;
}
.table-processing>tbody>tr>td {
    padding: 10px 8px;
    vertical-align: middle;
    border-bottom: none;
    white-space: nowrap;
}
.table-processing>tbody>tr>td:first-child,
.table-processing>tbody>tr>th:first-child {
    padding-left: 0;
}
.table-processing>tbody>tr>td:last-child {
    display: flex;
    flex-direction: row;
}
.box.box-solid>.box-header .btn:hover, .box.box-solid>.box-header .btn-blue:hover {
    background-color: #009bdd;
    color: #ffff;
}

/* time-slote */
.icon-time-slote {
    width: 35px;
    vertical-align: middle;
}
.icon-back {
    width: 20px;
}
.box-time-slote {
    position: absolute;
    display: inline-block;
    margin: 0;
    line-height: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: 'Roboto';
}
.box.box-solid>.box-header-time-slote
.btn:hover,
.box.box-solid>.box-header-time-slote
.box-back:hover {
    background: none;
}
.box-header-time-slote {
    padding: 20px;
}
.total-ap-av {
    position: absolute;
    top: 85px;
    right: 3%;
}
.total-ap-av .total-ap {
    float: left;
    margin-right: 100px;
    font-size: 17px;
}
.total-ap-av .total-av {
    float: right;
    font-size: 17px;
}
.total-ap-av span {
    font-family: 'Roboto';
}
.dot-blue {
    color: #759dc8;
    font-size: 7px;
}
.dot-orange {
    color: #f38b7f;
    font-size: 7px;
}
.icon-eye-book {
    width: 18px;
}
.des {
    color: #989898;
    white-space: nowrap;
}

.box-apt-hd {
    padding: 20px 20px;
}
.box-apt-bd {
    padding: 0 20px 20px 20px;
}
.nav-tabs-custom>.nav-tabs {
    border-bottom-color: #d2d6de;
}
.box .box-group>.box-time {
    margin-bottom: 0;
}
.box-time .box-header {
    padding: 1px 0;
}
.box-bottom-btn-submit {
    width: 23%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* popup modal */
.close {
    width: 3%;
    opacity: 10;
}
.close:hover {
    opacity: 10;
}
.profile-logo {
    max-width: 13%;
    border-radius: 50%;
    border: 1px solid #c3c3c3;
}
.model-tabel>tbody>tr>td,
.model-tabel>tbody>tr>th {
    border: none;
}
.model-tabel>tbody>tr>.td-modify { width: 39%; }
.model-tabel>tbody>tr>.td-walk { width: 30%; }
.modal-pro-info {
    margin: 0 auto;
}
.modal-header {
    border-bottom: none;
    padding: 25px;
}
.modal-footer-btn {
    width: 45%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}
.text-note {
    color: #adadad;
    font-size: 11px;
}

/* blog responsive */
@media screen and (max-width: 1450px) {
    .number h4 {
        font-size: 16px;
    }
}
@media screen and (max-width: 1500px) {
    .box-blood img {
        width: 22%;
    }
    .box-donations img {
        width: 24%;
    }
    .box-remaining img {
        width: 25%;
    }
    .box-injection img {
        width: 22%;
    }
    .box-calendar img {
        width: 23%;
    }
    .box-walk img {
        width: 26%;
    }
    .table-operation-process>tbody>tr>td {
        padding: 5px 0;
    }
}

@media screen and (max-width: 1220px) {
    .table-icon-donation>tbody>tr>td>h4:first-child {
        font-size: 11px;
    }
    .table-operation-process>tbody>tr>td:first-child {
        font-size: 10px;
        padding-right: 5px;
    }
    .table-operation-process>tbody>tr>td:last-child {
        font-size: 10px;
    }
    .des {
        font-size: 10px;
    }
    .number h4 {
        font-size: 10px;
    }
    .number span {
        font-size: 9px;
    }
    .box-blood img {
        width: 16%;
    }
    .box-injection img {
        width: 15%;
    }
    .total-ap-av .total-ap {
        margin-right: 30px;
    }
    .time-slote-filter {
        width: 50%;
    }
}
