.sign-mutiple {
    float: left;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 0;
    padding-right: 10px;
}
.middle-text {
    padding-bottom: 5px;
    padding-top: 5px;
}
.form-inline .form-g-silver {
    display: flex;
}
.input-custom {
    height: 28px;
    border-color: #eaeaea;
}
.img-member-type {
    margin-bottom: 10px;
    width: 66px;
}
.box-bd-mbs {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
